*.class
HotelManager.iml
.idea/
out
HotelManager/.settings
HotelManager/.classpath
HotelManager/.project
.project
HotelManager/bin/.classpath
HotelManager/bin/.project
HotelManager/bin/.settings/
HotelManager/bin/View
HotelManager/bin/.gitignore
hotelManager/bin
bin
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
